---
---

@import "{{ site.theme }}";
footer {
  display: none !important;
}

.btn {
  display: none !important;
}

#header {
  display: none !important;
}

body {
  background: #191400;
}
/* default„ÅØ#1f4501 */

section {
  #title {
    .credits {
      &.right{
        display: none;
      }
    }
  }
}

/*
#title {
  display: none;
} */
