---
---

@import "{{ site.theme }}";
footer {
  display: none !important;
}

.btn {
  display: none !important;
}

#header {
  display: none !important;
}

body {
  background: #16260a;
}
/* defaultは#1f4501 
  #122900はちょうど良い緑を感じるが，少し目が疲れる気がする．
  利休鼠は#646F63
*/

section {
  #title {
    .credits {
      &.right{
        display: none;
      }
    }
  }
}

/*
#title {
  display: none;
} */
